.header{
    background-color: rgb(150, 30, 30);
    padding:30px 10px 30px 20px;
    text-align: center;
}
.footer{
    background-color: gray;
    padding:20px 20px 20px 20px;
    text-align: center;
}